@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Backoffice";
}

<h1>Chained layouts!</h1>
@RenderBody()
@section Scripts {

<script src="~/lib/knockout/dist/knockout.js"></script>

<link rel="stylesheet" href="~/lib/CodeMirror/lib/codemirror.css">
@RenderSection("Scripts", required: false)


}