
<!-- Regular Input with Floating labels -->
<form method="POST" action="/todo">
<div class="form-group pmd-textfield pmd-textfield-floating-label">
   <label for="regular1" class="control-label">
     Regular Input
   </label>
   <input type="text" id="regular1" class="form-control" name="login">
</div>
<!-- Password Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
  <label for="password1" class="control-label">
    Password
  </label>
  <input id="password1" class="form-control" type="password" name="password">
</div>
<!--Help Text Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
  <label for="help1">
    Input with help text
  </label>
  <input type="text" id="help1" class="form-control">
  <p class="help-block"> Help text </p>
</div>
<button type="submit" class="btn btn-primary">Sign in</button>
</form>