<!DOCTYPE html>
<html lang="en">
<% include shared/_head.ejs%>
<body>

    <% include shared/_nav.ejs %>

    <!-- enter-header -->
    <div class="enter-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="enter-message">
                        <h2>Welcome to my page :)</h2><br>
                        <p class="lead">My name is Mykhailo Kilianovskyi. I am a Web-developer. <br>And I am passionate about it!</p>                    
                        <ul class="list-inline">
                            <li>
                                <a href="#about" data-scroll data-options='{ "easing": "easeInOutQuad" }' class="btn btn-light btn-lg"><i class="fa fa-plus fa-fw"></i> <span class="btn-name">See more</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.enter-header -->

    <!-- Page Content -->
    <!-- About section -->
    <a id="about"></a>
    <div class="container pad-top pad-bottom">
        <div class="row centered about">
            <h1>What I am doing there</h1>
            <h2>And how I can help optimize your businesses</h2>
            <div class="col-md-8 col-md-offset-2 mt">
               <p>I can help you with a website for your project,create chat-bot that helps stay in touch with clients or develop large online store or other e-commerce platform.</p>
            </div>
        </div>
    </div>
        <!-- /row -->
    <div class="row">
        <div class="col-md-12 col-lg-4">               
            <ul class="grid cs-style-3">
                <li>
                    <figure>
                        <img src="images/rocket.png" alt="img01">
                        <figcaption>
                            <h3>Landing pages</h3>
                            <p></p>
                            
                        </figcaption>
                    </figure>
                </li>
                
            </ul>
            
        </div>
        <div class="col-md-12 col-lg-4">               
            <ul class="grid cs-style-5">
                <li>
                    <figure>
                        <img src="images/robot.jpg" alt="img01">
                        <figcaption>
                            <h3>Chat bots</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-4">
            <ul class="grid cs-style-3">

                <li>
                    <figure>
                        <img src="images/network.png" alt="img02">
                        <figcaption>
                            <h3>Online stores</h3>
                            
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
           
             
            
        <div class="row centered pad-top">
            <h3>What opportunities it offers for your business</h3>
            <div class="col-md-4">
                <img class="img-default" src="images/vv_gear.png" alt="Extent Functionality" >
                <h5>Extend</h5>
                <hr class="aligncenter">
                <p>Deliver new <b>functionality</b> to your customers and improve their <b>experience</b></p>
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <img class="img-default" src="images/vv_people.jpg"  alt="Web Design Documentation">
                <h5>Attract</h5>
                <hr class="aligncenter">
                <p>Your potential customers are looking for your products in the Web <b>right now.</b> Be one step ahead of your competitors!</p>
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <img class="img-default" src="images/web-prices.png" alt="Web Design Prices">
                <h5>Stay productive</h5>
                <hr class="aligncenter">
                <p>Unblock your full potential using modern technologies</p>
            </div>
            <!--/col-md-4-->
        </div>
        
    </div>
            <div id="parallax-pond"></div>
    



    <!-- Features section -->
    <a id="features"></a>
    <div class="features-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p>&nbsp;</p><br>
                    <div class="clearfix"></div>
                    <h2 class="features-heading">C# and ASP.NET <br>To do big things.</h2>
                    <p class="lead">.NET is fast. Really fast. Device applications for Windows, iOS and Android run natively so you can create rich and fluid apps that use all the device capabilities. On the server side, .NET Core is breaking records and performs faster than any other popular framework. That means applications provide better response times and require less compute power.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/cs.png" alt="mobile-friendly">
                </div>
            </div>
        </div>
    </div>
    <!-- /.features-section-a -->
    <div class="features-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <p>&nbsp;</p><br>
                    <h2 class="features-heading">NodeJS<br>To stay flexible</h2>
                    <p class="lead">As an asynchronous event driven JavaScript runtime, Node is designed to build scalable network applications.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/nodejs.png" alt="cloud-computing">
                </div>
            </div>
        </div>
    </div>
    <!-- /.features-section-b -->
    <div class="features-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p>&nbsp;</p><br>
                    <h2 class="features-heading">Bootstrap <br>To create mobile-friendly websites.</h2>
                    <p class="lead">Bootstrap is a Web design framework invented by Twitter for the purpose of creating Web pages that scale to view properly on different size devices. The goal is to have one Web page that can "respond" to different screen sizes.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/bootstrap.png" alt="free-updates">
                </div>
            </div>
        </div>
    </div>
    <!-- /.features-section-a -->

    <!-- Contact section -->
    <div id="parallax-end" class="">

    </div>
    <!-- /.banner -->
    <div id="parallax-end" class="">
    <a id="contact"></a>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline navbar-right">
                        <li>
                            <a href="#" data-scroll data-options='{ "easing": "easeInOutQuad" }'>Home</a>
                        </li>
                        <li>/</li>
                        <li>
                            <a href="#about" data-scroll data-options='{ "easing": "easeInOutQuad" }'>About</a>
                        </li>
                        <li>/</li>
                        <li>
                            <a href="#features" data-scroll data-options='{ "easing": "easeInOutQuad" }'>Features</a>
                        </li>
                        <li>/</li>
                        <li>
                            <a href="#contact" data-scroll data-options='{ "easing": "easeInOutQuad" }'>Contact</a>
                        </li>
                    </ul>
                    <div class="col-md-4">
                        <p class="text-muted">mitutee</a> &copy; 2017  </p>
                    
                        <a class="btn btn-smalls btn-block btn-social btn-vk" href="https://vk.com/mitutee" >
                            <span class="fa fa-vk"></span> vk.com/mitutee
                        </a>                        
                        <a class="btn btn-smalls btn-block btn-social btn-github" href="https://github.com/mitutee" target="_blank">
                            <span class="fa fa-github"></span> github.com/mitutee
                        </a>

                        <a class="btn btn-smalls btn-block btn-social btn-telegram" href="https://t.me/mitutee" target="_blank">
                            <span class="fa fa-paper-plane"></span> t.me/mitutee
                        </a>

                        <a class="btn btn-smalls btn-block btn-social btn-yahoo">
                            <span class="fa fa-phone"></span> +380505102671
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu slider -->
    <a id="About"></a>
    <script src="js/smooth-scroll.min.js"></script>
    <script>
      smoothScroll.init();
    </script>


    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
        <script src="js/toucheffects.js"></script>
</body>
</html>
