<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <link type="text/css" rel="stylesheet" href="/assets/css/circle.css">

</head>
<body>

<% include partials/nav.ejs %>


    <div class="c100 p<%= mem_usage %> big">
        <span><%= mem_usage %>%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>



<% include partials/test_field.ejs %>
</body>
</html>