/**
 * Body CSS
 */
body{
    
}
.row {
    padding-top: 12px
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#my-header {
    background-color: #4CAF50;
    height: 22vh;
}

#my-footer {
    background-color: #4CAF50;

}