@{
    ViewData["Title"] = "Home Page";
}
@model dottech.web.ViewModels.HomePageViewModel

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Feed)
        {
            Html.RenderPartial("FeedItem", item);
        }
    </div>
</div>
