    <main>

        <!--Main layout-->
        <div class="container z-depth-3">
            <div class="row">
                <!--Main column-->
                <div class="col-lg-8">
                    <!--Post-->
                    <div ng-repeat="page in allPages" class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                        <!--Post data-->
                        <h1 class="h1-responsive">{{page.title}} <small class="text-muted">Secondary text</small></h1>
                        <h5>Written by <a href="">John Doe</a>, {{page.date}}</h5>
                        
                        <div ng-bind-html="page.content"></div>


                        <!--"Read more" button-->
                        <button class="btn btn-info">Read more</button>
                    </div>
                    <!--/.Post-->
                    <hr>
                </div>

                <!--Sidebar-->
                <div class="col-lg-4">
                </div>
                <!--/.Sidebar-->
            </div>
        </div>
        <!--/.Main layout-->

    </main>