<html>
 <head>
  <% include partials/head.ejs %>
  <link href="/assets/css/shelveIt.css" type="text/css" rel="stylesheet" />
 </head>
 <body>
  <h1>YOUR PERSONAL CHAOS ZONE</h1>
  <h2>Store interesting articles, videos or links for later view!</h2>
  <form action="">


   <input type="text" name="item" id="regular1">
   <button type="submit" >Store it!</button>

  </form>
 </body>
</html>